@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.custom-div:not(:last-child) {
  margin-bottom: 22px;
}
.btn-gradient {
  background: linear-gradient(#131313, #131313) padding-box,
    linear-gradient(to right, #4d5358, #131313 75%) border-box;
  border-radius: 24px;
  border: 1px solid transparent;
}
